@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$global-font: 'Open Sans', sans-serif;
$base-value-title: 32px;
$base-value-p: 14px;
$pink:#fa008a;
$color-btn: white;
$border-btn: #590433;

body {
    font-family: $global-font;
}

.color-background {
    background-color:#112d3d !important;
}

.nav-link:hover {
    color:$pink !important;
}

.breadcrumb {
    a {
    color:$pink;
    text-decoration: none;
    }
}

%title-centered {
    text-align:center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: $base-value-title;
}

.title {
    @extend %title-centered;
}

h1 {
    color: $pink;
}
h3 {
    font-size: 20px;
}
main p {
    font-size: $base-value-p;
    text-align: justify;
}

@mixin button {
    color: $color-btn;
    font-weight: 700;
}

.btn-pink {
    @include button;
    background-color: $pink;
    &:hover {
        color: lighten($pink, 30%);;
        background-color: darken($pink, 10%);
        border-color: lighten($pink, 12%);
      }
}

.btn-blue {
    @include button;
    background-color:#112d3d;
    &:hover {
        color: $color-btn;
        background-color: darken(#112d3d, 10%);
        border-color: lighten(#112d3d, 12%);
      }
}

.form-donate{
    .btn {
        min-width: 25%;
    }
}

.btn-responsive {
    .btn {
        min-width: 25%;
    }
}

.color-background-news {
    background-color: #f0f1f8;
}

.card-action {
    width: 20rem;
    height:auto;
    background-color: $pink;
}

#banniere_image {
    width:100%;
    height: 25rem;
    background: url(images/race-paris.jpg) no-repeat;
    background-size: cover;

}
#banniere_image {
    h1, h2 {
    font-style: italic;
    font-weight:bold;
    color: white;
    line-height:1;
    }
}

.fieldset {
    color:$pink;
    font-weight: bold;
    .bi {
        color:$pink
    }
}

.price {
    font-size:2rem;
    color:$pink;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: $pink;
}

a:hover {
    color: #F961B4;
}

.email-news {
    max-width: 300px;
}

.footer {
    .btn-footer {
        @include button;
        background-color:$pink;
        &:hover {
            color: $color-btn;
            background-color: darken($pink, 10%);
            border-color: lighten(#112d3d, 12%);
          }
    }
}

@media screen and (max-width: 991px) {
    .btn-responsive {
        .btn {
            min-width: 50%;
        }
    }
}

